* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 0);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.8;
}


.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-color: #4aede7;
  padding: 10px;
}
#top {
  text-transform: uppercase;
  color: rgba(128, 128, 128, 0.701);
  padding: 0 0 0 10px;
}
.header-item {
  display: flex;
  align-items: center;
}
.header-item-logo img {
  border-radius: 50%;
  margin-right: 50px;
}

.nav {
  margin: 30px 0 50px 0;
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 14px;
  font-weight: bold;
}
.nav-menu a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
}
.list {
  order: 1;
}
.table {
  order: 3;
}

.block {
  order: 2;
}


.footer {
  background-color: #030303;
  padding: 50px 0 50px 0;
  color: #000;
}
.footer-text {
  text-align: center;
  color: black;
  background-color: rgba(128, 128, 128, 0.701);
}

